.flabel2{
    color: white;
    display: flex;
    justify-content: center;
}
.flabel2:hover, .flabel2:active{
    color: #888787;
}

@media (min-width: 768px) {
    .t1{
        max-width: 33%;
    }
}
body{
    margin: 0;
}
.main2{
    margin: 0 3%;
}
tbody>tr:hover, .bar1:hover, .bar2:hover{
    background-color: #f0eeee;
}
footer{
    background-color: #f0eeee;
}
